// box-wrapper{
//     .contentBox{
//         #xxxx{
//             background-color: #fff;
//         }
//     }
// }
@import '../../assets/var.less';
#skillsContent{
    background-color: transparent;
    // h1{
    //     color: @darkBlue;
    //     margin-bottom: 20px;
    // }
    main{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .skillBlock{
            font-family: '等线';
            width: 50%;
            height: 100%;
            padding: 80px 40px;
            font-size: 20px;
            font-weight: bold;
            white-space: pre-line;
        }
        .left{
            background-color: @darkBlue;
            color: white;
        }
        .right{
            color: @darkBlue;
        }
    }
}