// box-wrapper{
//     .contentBox{
//         #xxxx{
//             background-color: #fff;
//         }
//     }
// }
@import '../../assets/var.less';
#skillsContent{
    background-color: transparent;
    // h1{
    //     color: @darkBlue;
    //     margin-bottom: 20px;
    // }
    main{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .skillBlock{
            font-family: '等线';
            width: 50%;
            height: 100%;
            padding: 40px;
            font-size: 18px;
            line-height: 1.6;
        }

        .left{
            background-color: @darkBlue;
            margin-right: 20px;
            p::before{
                border: solid white 1px;
            }
        }
        .right{
            background-color: @wholeBackground;
            color: @darkBlue;
            font-weight: bold;
            p::before{
                border: solid @darkBlue 1px;
            }
        }
        p{
            margin: 10px 0 10px 20px;
            position: relative;
            &::before{
                content: '';
                display: block;
                height: 5px;
                width: 5px;
                border: solid white 1px;
                position: absolute;
                border-radius: 50%;
                left: -15px;
                top: 16px;
                transform: translateY(-50%);
            }
            .lowerLineHeight{
                line-height: 1;
            }
        }
    }
}