@import '../../assets/var.less';

article{
    width: 100%;
    height: 100%;
    color: @darkBlue;
    position: relative;
    .img-wrapper{
        width: 100%;
        padding: 10px;
        text-align: center;
        @media screen and (max-width: 500px){
            padding-top: 5px;
        }
        img{
            width: 100%;
            border-radius: 5px;
            @media screen and (max-width: 500px){
                width: 40%;
            }
        }
    }
    header{
        font-weight: bold;
        font-size: 25px;
        padding: 8px;
        @media screen and (max-width: 500px){
            padding: 2px;
            font-size: 15px;
        }
    }
    
    section.introduction{
        display: block;
        text-align: left;
        line-height: 1.2;
        padding: 10px 25px 10px 20px;
        @media screen and (max-width: 500px){
            padding: 2px;
            font-size: 10px;
            line-height: 1.3;
        }
        .keywords{
            margin-bottom: 10px;
        }
    }

    footer.preview{
        text-align: right;
        position: absolute;
        right: 20px;
        @media screen and (max-width: 500px) {
         top: 20px;   
        }
        @media screen and (min-width: 500px) {
            bottom: 10px;
        }
    }
}