@import '../../assets/var.less';

article{
    width: 100%;
    height: 100%;
    color: @darkBlue;
    font-weight: bold;
    font-size: 20px;
    .img-wrapper{
        width: 100%;
        padding: 10px;
        img{
            width: 100%;
            height: 100%;
            border: @darkBlue 2px solid;
        }
    }
}