@import '../assets/var.less';
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: @wholeBackground;
}
#target{
    height: 200px;
    width: 200px;
    background-color: lightblue;
}