@import '../../assets/var.less';
@import '../../assets/animation.less';
@import '../../assets/base.less';



.box-wrapper{
    .contentBox{
        .content{
            background-color: @darkBlue;
            height: 100%;
            color: white;
            position: relative;
            overflow: hidden;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 20% 1fr 20%;
            grid-template-areas: 'blank-left intro blank-right';
        }
    }
}