@import '../../assets/var.less';
@import '../../assets/animation.less';
@import '../../assets/base.less';



.box-wrapper{
    font-family: '等线';
    .contentBox{
        .content{
            background-color: @darkBlue;
            height: 100%;
            color: white;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title{
                h1{
                    font-size: 40px;
                    margin: 30px;
                    @media screen and (max-width: 500px){
                        margin: 5px;
                        font-size: 25px;
                    }
                }
            }

            .cards{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                padding: 0px 0 30px 0;
                @media screen and (max-width: 500px){
                    flex-direction: column;
                    padding: 0;
                }
                .card{
                    height: 100%;
                    width: 25%;
                    min-width: 200px;
                    margin: 0 2%;
                    background-color: @cardBg;
                    overflow: auto;
                    border-radius: 10px;
                    @media screen and (max-width: 500px){
                        height: auto;
                        width: auto;
                        border-radius: 3px;
                        margin: 10px 10px 0 10px;
                        padding: 0 10px;
                    }
                    header{
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}