@import '../../assets/var.less';
@import '../../assets/animation.less';
@import '../../assets/base.less';



.box-wrapper{
    
    .contentBox{
        .content{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 25% 1fr 25%;
            grid-template-areas: 'blank-left intro blank-right';
            min-width: 800px;
            @media screen and (max-width:450px) {
                min-width: 200px;
                grid-template-columns: 2% 1fr 2%;
            }
            .blank-left{
                grid-area: blank-left;
            }
            .blank-right{
                grid-area: blank-right;
            }
            .intro{
                grid-area: intro;
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .detail{
                    // background-color: #fff;
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    justify-content: space-around;
                    font-weight: bold;
                    // font-family: 'stxinwei','Blackadder ITC','algerian';
                    color: @gold;
                    font-size: 20px;
                    z-index: 1;
                    margin-bottom: 10px;
                    margin-left: 20px;
                    padding: 0 20px;
                    border-left: @gold solid 3px;
                    @media screen and (max-width: 500px) {
                        font-size: 16px;
                    }
                    li.condition{
                        padding: 0 10px;
                        border-radius: 3px;
                        width: 100%;
                        transition: all 0.2s;
                        position: relative;
                        cursor: pointer;
                        &:hover{
                            background-color: rgba(151, 221, 248, 0.7);
                            color: @darkBlue;
                        }
                        .category{
                            margin-right: 20px;
                        }
                        .copy{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: -80px;
                            color: white;
                            @media screen and (max-width: 500px) {
                                right: -50px;
                            }
                        }
                    }
                }

                .suggestion{
                    display: flex;
                    align-items: flex-end;
                    padding-bottom: 30px;
                    flex: 1;
                    // @media screen and (max-width: 500px) {
                    //     flex: 1;
                    // }
                }

                .avatar{
                    width: 80px;
                    height: 80px;
                    background-size: 80px;
                    background-position: 0px 0px;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    // background-image: url(/src/static/img/avatar.jpg);
                    // background-image: url('./../../static/img/avatar.jpg');
                    background-image: url('../../static/img/avatar.jpg');
                    position: relative;
                    margin: 50px 0;
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100px; 
                        height: 100px;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        border: @gold dashed 2px;
                        border-radius: 50%;
                        transition: all 0.5s;
                    }
                    &:hover::before{
                        box-shadow: @goldShadow;
                    }
                }
            }
            

            &:hover .dashedCircle{
                animation-play-state: running;
                box-shadow: 0 0 15px 2px @gold;
                transform: scale(1.2);
            }
            .dashedCircle{
                transition: all 0.5s;
                animation: rotate 60s linear infinite;
                animation-play-state: paused;
                transform-origin: 0 0;
                height: 55vw;
                width: 55vw;
                position: absolute;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                border: @gold dashed 2px;
                // background-image: url(/src/static/img/bluebg.jpg);
                // background-image: url('../../static/img/bluebg.jpg');
                filter: grayscale(0.5) opacity(0.5);
                background-size: contain;
                pointer-events: none;
                @media screen and (max-width:500px) {
                    display: none;
                }
            }

            @keyframes rotate{
                0%{
                    transform: rotate(0deg) translateX(-50%) translateY(-50%);
                }
                100%{
                    transform: rotate(360deg) translateX(-50%) translateY(-50%);
                }
            }
        }
    }
}







