@import '../../assets/var.less';
@import '../../assets/animation.less';
@import '../../assets/base.less';



.box-wrapper{
    
    .contentBox{
        .content{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 20% 1fr 20%;
            grid-template-areas: 'blank-left intro blank-right';
            min-width: 800px;
            @media screen and (max-width:450px) {
                min-width: 200px;
                grid-template-columns: 2% 1fr 2%;
            }
            .blank-left{
                grid-area: blank-left;
            }
            .blank-right{
                grid-area: blank-right;
            }
            .intro{
                grid-area: intro;
                display: flex;
                flex-direction: column;
                align-items: center;
                .text{
                    // background-color: #fff;
                    flex: 1 1 auto;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    // font-family: 'stxinwei','Blackadder ITC','algerian';
                    color: @gold;
                    font-size: 25px;
                    z-index: 1;
                    @media screen and (max-width:450px) {
                        font-size: 20px;
                    }
                    span{
                        margin: 10px 0;
                    }
                    .target{
                        font-size: 40px;
                        font-weight: bold;
                        @media screen and (max-width:450px) {
                            font-size: 20px;
                        }
                    }
                    .self{
                        font-size: 30px;
                        font-weight: bold;
                        color: white;
                        // .age{
                        //     font-size: 30px;
                        // }
                        
                        // svg{
                        //     font-size: 20px;
                        // }
                    }
                    
                    .buttons{
                        margin-top: 10%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .pdf{
                            cursor: pointer;
                            margin: 0 10px 0 0;
                        }
                        .contact{
                            cursor: pointer;
                            margin: 0 20px 0 10px;
                        }
                    }
                    .suggestion{
                        margin-top: 10%;
                    }
                }
                .avatar{
                    width: 80px;
                    height: 80px;
                    background-size: 80px;
                    background-position: 0px 0px;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    // background-image: url(/src/static/img/avatar.jpg);
                    background-image: url(../../static/img/works/avatar.jpg);
                    position: relative;
                    margin: 50px 0;
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        border: @gold dashed 2px;
                        border-radius: 50%;
                        transition: all 0.5s;
                    }
                    &:hover::before{
                        box-shadow: @goldShadow;
                    }
                }
            }
            

            &:hover .dashedCircle{
                animation-play-state: running;
                box-shadow: 0 0 15px 2px @gold;
                transform: scale(1.2);
            }
            .dashedCircle{
                transition: all 0.5s;
                animation: rotate 60s linear infinite;
                animation-play-state: paused;
                transform-origin: 0 0;
                height: 55vw;
                width: 55vw;
                position: absolute;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                border: @gold dashed 2px;
                // background-image: url(/src/static/img/bluebg.jpg);
                background-image: url(../../static/img/bluebg.jpg);
                filter: grayscale(0.5) opacity(0.5);
                background-size: contain;
                pointer-events: none;
                @media screen and (max-width:450px) {
                    width: 150vw;
                    height: 150vw;
                }
            }

            @keyframes rotate{
                0%{
                    transform: rotate(0deg) translateX(-50%) translateY(-50%);
                }
                100%{
                    transform: rotate(360deg) translateX(-50%) translateY(-50%);
                }
            }
        }
    }
}







