@import './var.less';

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.m-red{
    color: rgb(245, 149, 149);   
}
.m-blue{
    color: rgb(78, 171, 202);
}
.m-bold{
    font-weight: bold;
}
.m-hightlight{
    background-color: rgb(219, 219, 219);
}
.m-goldbg{
    background-color: @gold;
}
.m-pointer{
    cursor: pointer;
}
